In [122]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")
df=pd.read_csv("C:/Users/Harpreet/age_hei1.csv")
df

   Age(year) Height(ft)
0          0        0.5
1          0       0.65
2          0       0.75
3          0        Nan
4          0     0.4447
5          1       0.75
6          1          1
7          1       1.25
8          1       0.95
9          2        1.7
10         2        1.9
11         2          2
12       NaN          3
13         3        NaN
14         3        2.5
15         3          3
16         3       3.25
17         3        NaN
18         4        3.5
19         4          3
20         4       3.72
21         4       2.45
22       NaN          4
23         4       4.01
24         5          3
25         5        NaN
26         5        3.6
27         5       3.74
28         5          2
29       5.5        NaN
..       ...        ...
60        13          5
61        13        NaN
62        14       4.75
63        14          5
64        14        5.1
65        15        5.3
66        15        5.4
67        15        5.2
68        16        5.2
69        16        5.2
70    16.5.7        NaN
71        16        5.5
72        17        5.6
73        17        5.7
74        17        4.2
75        18        5.7
76        18          6
77        18        5.5
78        19        5.9
79        19        5.8
80        19        5.8
81        20        5.9
82        20          5
83        20        5.5
84        21        6.0
85        21        6.2
86        21        5.8
87        22        6.3
88        22        5.8
89        22        6.0

[90 rows x 2 columns]

In [123]:
df.head()

  Age(year) Height(ft)
0         0        0.5
1         0       0.65
2         0       0.75
3         0        Nan
4         0     0.4447

In [124]:
df.isnull().sum()

Age(year)      3
Height(ft)    10
dtype: int64

In [125]:
df.dropna(inplace=True)
df

   Age(year) Height(ft)
0          0        0.5
1          0       0.65
2          0       0.75
3          0        Nan
4          0     0.4447
5          1       0.75
6          1          1
7          1       1.25
8          1       0.95
9          2        1.7
10         2        1.9
11         2          2
14         3        2.5
15         3          3
16         3       3.25
18         4        3.5
19         4          3
20         4       3.72
21         4       2.45
23         4       4.01
24         5          3
26         5        3.6
27         5       3.74
28         5          2
30         6        3.5
31         6          4
32         6        4.2
33         6       3.23
34         7       3.75
36         7          4
..       ...        ...
58        12        4.9
59        13       4.95
60        13          5
62        14       4.75
63        14          5
64        14        5.1
65        15        5.3
66        15        5.4
67        15        5.2
68        16        5.2
69        16        5.2
71        16        5.5
72        17        5.6
73        17        5.7
74        17        4.2
75        18        5.7
76        18          6
77        18        5.5
78        19        5.9
79        19        5.8
80        19        5.8
81        20        5.9
82        20          5
83        20        5.5
84        21        6.0
85        21        6.2
86        21        5.8
87        22        6.3
88        22        5.8
89        22        6.0

[77 rows x 2 columns]

In [112]:
df.isnull().sum()

Age(year)     0
Height(ft)    0
dtype: int64

In [113]:
df['Age(year)'].mean()
df['Age(year)'].tail()

85    21
86    21
87    22
88    22
89    22
Name: Age(year), dtype: object

In [114]:
df.shape

(77, 2)

In [115]:
df

   Age(year) Height(ft)
0          0        0.5
1          0       0.65
2          0       0.75
3          0        Nan
4          0     0.4447
5          1       0.75
6          1          1
7          1       1.25
8          1       0.95
9          2        1.7
10         2        1.9
11         2          2
14         3        2.5
15         3          3
16         3       3.25
18         4        3.5
19         4          3
20         4       3.72
21         4       2.45
23         4       4.01
24         5          3
26         5        3.6
27         5       3.74
28         5          2
30         6        3.5
31         6          4
32         6        4.2
33         6       3.23
34         7       3.75
36         7          4
..       ...        ...
58        12        4.9
59        13       4.95
60        13          5
62        14       4.75
63        14          5
64        14        5.1
65        15        5.3
66        15        5.4
67        15        5.2
68        16        5.2
69        16        5.2
71        16        5.5
72        17        5.6
73        17        5.7
74        17        4.2
75        18        5.7
76        18          6
77        18        5.5
78        19        5.9
79        19        5.8
80        19        5.8
81        20        5.9
82        20          5
83        20        5.5
84        21        6.0
85        21        6.2
86        21        5.8
87        22        6.3
88        22        5.8
89        22        6.0

[77 rows x 2 columns]

In [116]:
X=df.iloc[:,0]
print(X)
y=df.iloc[:,1]
print(y)

0      0
1      0
2      0
3      0
4      0
5      1
6      1
7      1
8      1
9      2
10     2
11     2
14     3
15     3
16     3
18     4
19     4
20     4
21     4
23     4
24     5
26     5
27     5
28     5
30     6
31     6
32     6
33     6
34     7
36     7
      ..
58    12
59    13
60    13
62    14
63    14
64    14
65    15
66    15
67    15
68    16
69    16
71    16
72    17
73    17
74    17
75    18
76    18
77    18
78    19
79    19
80    19
81    20
82    20
83    20
84    21
85    21
86    21
87    22
88    22
89    22
Name: Age(year), Length: 77, dtype: object
0        0.5
1       0.65
2       0.75
3        Nan
4     0.4447
5       0.75
6          1
7       1.25
8       0.95
9        1.7
10       1.9
11         2
14       2.5
15         3
16      3.25
18       3.5
19         3
20      3.72
21      2.45
23      4.01
24         3
26       3.6
27      3.74
28         2
30       3.5
31         4
32       4.2
33      3.23
34      3.75
36         4
       ...
58       4.9
59      4.95
60         5
62      4.75
63         5
64       5.1
65       5.3
66       5.4
67       5.2
68       5.2
69       5.2
71       5.5
72       5.6
73       5.7
74       4.2
75       5.7
76         6
77       5.5
78       5.9
79       5.8
80       5.8
81       5.9
82         5
83       5.5
84       6.0
85       6.2
86       5.8
87       6.3
88       5.8
89       6.0
Name: Height(ft), Length: 77, dtype: object

In [117]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.6)

In [118]:
X_train.ndim

1

In [119]:
# 1 D --->> 2 D
import numpy as np
X_train=X_train[:,np.newaxis]
y_train=y_train[:,np.newaxis]

In [120]:

from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)

ValueError: array must not contain infs or NaNs

In [99]:
lr.coef_

AttributeError: 'LinearRegression' object has no attribute 'coef_'

In [100]:
lr.intercept_

AttributeError: 'LinearRegression' object has no attribute 'intercept_'

In [101]:
h11=lr.intercept_ + lr.coef_*11
h11

AttributeError: 'LinearRegression' object has no attribute 'intercept_'

In [104]:

X_test= X_test[:,np.newaxis]

In [105]:
y_test= y_test[:,np.newaxis]

In [106]:
y_pr =lr.predict(X_test)
#plt.plot(X_test,y_test,'r-')
plt.plot(X_test,y_pr,'b-')
plt.show()

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.

In [107]:
y_pr =lr.predict(X_test)

plt.plot(np.arange(len(X_test)) ,y_test - y_pr,'b-')
plt.show()

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.